// importo BOOSTRAP
@import "~bootstrap/scss/bootstrap";

@import "./partials/variables";
@import "./partials/reset";
@import "./partials/mixins";

.my-container {
    width: 65%;
    margin: 0 auto;
}

// HEADER INIZIO
header {
    height: 120px;
    ul {
        gap: 30px;
        a {
            text-transform: uppercase;
            line-height: 115px;
            font-size: 12px;
            color: black;
            display: block;
            height: 100%;
            font-weight: bold;
            &:hover {
                color: $primary-color;
                border-bottom: 5px solid $primary-color;
            }
        }
    }
}

.logo {
    width: 80px;
    padding: 20px 0;
    flex-shrink: 0;
}
// HEADER FINE

// JUMBO INIZIO
.jumbo {
    height: 400px;
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
}
// JUMBO FINE

// MAIN INIZIO
main {
    background-color: $main-bkg;
    h2 {
        font-size: 22px;
        color: white;
        padding: 10px 25px;
        background-color: $primary-color;
        display: inline-block;
        transform: translateY(-50%);
    }
    .cards {
        flex-wrap: wrap;
        @include gap($main-grid-gap);
        padding: 10px;
        .my-card {
            @include grid($cards-per-row, $main-grid-gap);
            .img-box {
                aspect-ratio: 1 / 1;
                overflow: hidden;
                // background-color: aqua;
            }
            h4 {
                padding: 20px 0;
                color: white;
                font-size: 12px;
                text-align: left;
            }
        }
    }
    .row-btn {
        text-align: center;
        button {
            background-color: $primary-color;
            color: white;
            font-size: 13px;
            padding: 10px 60px;
            border: none;
            cursor: pointer;
            margin-bottom: 20px;
            font-weight: bold;
        }
    }
    #icons-list {
        background-color: $primary-color;
        ul {
            padding: 50px 40px;
            gap: 30px;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0;
            li:first-child {
                .img-box {
                    width: 50px;
                }
            }
            li:nth-child(2) {
                .img-box {
                    width: 55px;
                }
            }
            li:nth-child(3) {
                .img-box {
                    width: 55px;
                }
            }
            li:nth-child(4) {
                .img-box {
                    width: 40px;
                }
            }
            li:last-child {
                .img-box {
                    width: 55px;
                }
            }
        }
    }

    a {
        color: white;
        font-size: 12px;
        display: block;
    }

    .img-box {
        margin-right: 10px;
        img {
            width: 100%;
            display: block;
        }
    }

    li {
        align-items: center;
    }
}

// MAIN FINE

// FOOTER INIZIO
.footer-top {
    background-image: url("../img/footer-bg.jpg");
    .my-container {
        padding-top: 20px;
        padding-bottom: 40px;
        gap: 40px;
        background-image: url("../img/dc-logo-bg.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 50%;
    }

    h3 {
        color: white;
        font-size: 20px;
        margin: 18px 0 10px;
        text-transform: uppercase;
    }

    a {
        color: $footer-mid-link;
    }

    li {
        margin-bottom: 10px;
    }
}

.footer-bottom {
    padding: 30px 0;
    background-color: $footer-bottom-bkg;
    button {
        background-color: transparent;
        height: 50px;
        border: 2px solid $primary-color;
        a {
            color: white;
            padding: 15px;
            font-weight: bold;
            font-size: 15px;
        }
    }
    .socials {
        align-items: center;
        h3 {
            color: $primary-color;
            margin-right: 25px;
            font-size: 20px;
        }

        ul {
            gap: 15px;
            li {
                border-radius: 50%;
                overflow: hidden;
            }
        }
    }
}
// FOOTER FINE
