// IMPORTO BOOSTRAP SCSS DA NODE MODULES |  ~bootstrap ALIAS di /node_modules/bootstrap
@import "~bootstrap/scss/bootstrap";

//IMPORTO MIEI PARZIALI
@import "./partials/variables";
@import "./partials/reset";
@import "./partials/mixins";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/section-icons";

// JUMBO INIZIO
.jumbo {
    height: 400px;
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
}
// JUMBO FINE

// MAIN INIZIO
main {
    background-color: $main-bkg;
    h2 {
        font-size: 22px;
        color: white;
        padding: 10px 25px;
        background-color: $primary-color;
        display: inline-block;
        transform: translateY(-50%);
    }
    .cards {
        flex-wrap: wrap;
        @include gap($main-grid-gap);
        padding: 10px;
        .my-card {
            @include grid($cards-per-row, $main-grid-gap);
            .img-box {
                aspect-ratio: 1 / 1;
                overflow: hidden;
                // background-color: aqua;
            }
            h4 {
                padding: 20px 0;
                color: white;
                font-size: 12px;
                text-align: left;
            }
        }
    }
    .row-btn {
        text-align: center;
        button {
            background-color: $primary-color;
            color: white;
            font-size: 13px;
            padding: 10px 60px;
            border: none;
            cursor: pointer;
            margin-bottom: 20px;
            font-weight: bold;
        }
    }
}

// MAIN FINE
