// FILE SCSS SOLO PER HEADER
header {
    height: 120px;
    ul {
        gap: 30px;
        a {
            text-transform: uppercase;
            line-height: 115px;
            font-size: 12px;
            color: black;
            display: block;
            height: 100%;
            font-weight: bold;
            &:hover {
                color: $primary-color;
                border-bottom: 5px solid $primary-color;
            }
        }
    }
}

.logo {
    width: 80px;
    padding: 20px 0;
    flex-shrink: 0;
}
